* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

.style_button {
  background-color: #dc2a2a;
  color: white;
  text-align: center;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.style_button:hover {
    background-color: #ff8080; 
    color: white;
    border: 2px solid #dc2a2a;
}

.style_button:active {
    background-color: white; 
    color: #dc2a2a;
    border: 2px solid #dc2a2a;
}


div{
	display:block;	
}

.loader {
    border: 40px solid #f3f3f3; /* Light grey */
    border-top: 40px solid #ff3300; /* Red */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#div_title{
	width:100%;
	text-align: center;
}

#div_loading_parent{
	display: table;
	margin: auto;
	height: 80px;
}

#div_loading{
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

#div_query_parent {
   display: table;
   width: 100%;
}

#form_query {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  width: 80%;
  margin: 50px auto;
  border-radius: .25rem;
}

thead tr:first-child {
  background: #ed1c40;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: rgba(237, 28, 64, .1);
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: left;
  padding-right: 10px;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}

