<!DOCTYPE html>
<html ng-app="bugubali">
<head>
<meta charset="ISO-8859-1">
<title>Bug Search Results</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="bstyle.css">
<script src="bugsearch.js"></script>
</head>
<body ng-controller="BugSearch as srch">
	<div id="div_title">
		<h3>bugFINder</h3>
	</div>
	<hr />
	<br />
	<div id="div_query_parent">
		<form id="form_query" name="queryForm" ng-submit="srch.submitquery()">
			Updated by User: <input ng-model="srch.query.user" type="text" />
			<input name="submit" type="submit" value="Submit" class="style_button"/>
		</form>
		
	</div>
	<br />
	<br />
	<div id="div_loading_parent">
		<div id="div_loading" class="loader" ng-show="loading"></div>
	</div>
	<div>
	<table id="bugs">
		<thead>
			<tr>
				<th colspan="3">Bug Search Results</th>
			</tr>
			<tr>
				<th>S. No.</th>
				<th>Bug Number</th>
				<th>Subject</th>
			</tr>
		</thead>
		<tbody ng-repeat="i in bugResults">
			<tr>
				<td>{{$index+1}}</td>
				<td><a
					href="https://bug.oraclecorp.com/pls/bug/webbug_edit.edit_info_top?rptno={{i.rptno}}" target="_blank">{{i.rptno}}</a></td>
				<td>{{i.subject}}</td>
			</tr>
		</tbody>
	</table>
	</div>

</body>
</html>